@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background-color: white;
}

ul{
    list-style-type: none;
}

img {
    width: 200px;
}

.page-content{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header, .footer, .introduction{
    background-color: #1F2937;
    color: white;
    height: 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #151d29;
}

.header .logo{
    font-size: 28px;
    font-weight: 900;
}

.header .right-links{
    display: flex;
    gap: 20px;
}

.header a{
    color: #E5E7EB;
}

.introduction{
    padding: 100px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.introduction .text{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.middle-content{
    padding: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.middle-content h2{
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
}

.middle-content .boxes{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.middle-content .boxes .box{
    border: 4px solid rgb(77, 175, 175);
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.motivation{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 400px;
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.motivation .credits{
    font-size: 24px;
    margin-top: 20px;
    margin-left: auto;
    font-weight: 700;
}

.page-content button{
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 4px 24px;
    width: auto;
}

.page-content button:hover{
    background-color: #225ab4;
    cursor: pointer;
}

.page-content .about{
    display: flex;
    padding: 120px;
    background-color: #3882F6;
    margin: 64px;
    color: white;
    flex-direction: row;
}

.page-content .about .singup-box{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
